<div>
  <h2>Template Examples</h2>

  <button (click)="addColumn()">Add Column</button>
  <button (click)="insertColumn(1)">Insert Column (1)</button>
  <button (click)="removeColumn(0)">Remove Column(0)</button>

  <button (click)="addRow()">Add Row</button>
  <button (click)="insertRow(1)">Insert Row (1)</button>
  <button (click)="removeRow(0)">Remove Row (0)</button>
  <hr/>

  <div class="am-grid">
    <div class="am-data-row">
      <div class="am-data-cell">col1</div>
      <div class="am-data-cell">col2</div>
      <div class="am-data-cell">col3</div>
      <div class="am-data-cell">col4</div>
      <div class="am-data-cell">col5</div>
      <div class="am-data-cell">col6</div>
    </div>
    <div class="am-data-row">
      <div class="am-data-cell">Blaf sljnsjhd sjdhsl jdhjskdh sjkdh skjdh sjkldhs lkdklsd klsjd klsjd klsjdlk sdlksjd lksjd lksjd lskdj slkj slkd</div>
    </div>
  </div>
  <hr/>

  <am-data-grid [model]="gridModel" [dataSource]="arrayDS">
    <ng-template #firstNameHeaderTemplate let-column="column"> (: First Name  - {{column.config.key}} :) </ng-template>
    <ng-template #alternativeFirstNameHeaderTemplate let-column="column"> Skuus, Pasop, Vockoff {{column.config.key}}</ng-template>
    <ng-template #firstNameDataTemplate let-column="column" let-row="row">{{row.data.firstName}} - {{message}} - {{row.data.insertedColumn}}</ng-template>

    <ng-template #expanderTemplate let-row="row">
      {{message}}
      <table>
        <tr><th>First Name</th><td>{{row.data.firstName}}</td></tr>
        <tr><th>Last Name</th><td>{{row.data.lastName}}</td></tr>
        <tr><th>Mobile</th><td>{{row.data.mobile}}</td></tr>
        <tr><th>Email</th><td>{{row.data.email}}</td></tr>
      </table>
    </ng-template>
    <!--
    1) [done] Expander
    2) Selector (make row selectable)
    3) Sorting
    4) Filtering


    In order for an item to be selected, it must have an id?

    Ok, so what scenarious will I use the selector in.  First of all, I should have the ability to select on an id or the complete object itself.
    We will probably do the id when.  For example, it would be nice to specify if a selection is persistent - stored in localStorage.

    SelectionProvider (include a trackBy function) (add a storage function)
      -> TrackBy function (for when the page is reloaded, we need to update the checkboxes tick/untick)
      -> selectionChanges$ - event source for when there are changes
      -> StorageProvider: localStorage / memory - if we store the selection in memory or in local storage
        store(item)
        load(item)
      -> totalNumber: total number of items
      -> selectionNumber: number of selections

    show checkbox:
      when selecting, we add an selection object to the arraylist
      when de-selecting, we remove the object from the arraylist

    GridSelectionEventType {
      ADD,
      REMOVE
    }

    GridSelectionEvent: {
      type: add/remove
      item: the item that was removed or added,
      selection: all the items that is currently selected
      total: 20
      selected: 10
    }

    -->
  </am-data-grid>

  <!--<nested></nested>-->
  <!--<template-example></template-example>-->
</div>